@charset "UTF-8";

*{
    font-family: 'Pattaya', sans-serif;
    
}
@media (max-width: 767px) {
  .imagem {
    margin-left: 10px; /* Remova a margem inferior em telas menores */
  }}


.fundo{
    background-color: #111010;
}

h1{
    text-align: center;
    margin: 50px!important;   
    color: aliceblue!important;                       
}


p{
  font-size: 5px;
}

  /* logo*/   
.logo{
  font-size: 2.25rem;
  text-shadow: -3px 1px 0px #2B4EAA;                   
  color: rgb(19, 18, 18);

}
  /* logo*/   

  .navbar {
    background-color:#e8e8e8 ;
}

 /* Links navbar*/

a{
  padding: 10px;
}

#sobre a{ 
    color: rgb(0, 170, 28);
    font-size: 155%;
   
}
#projetos a{ 
    color: rgb(182, 179, 6);
    font-size: 155%;
   
}                                    
#pessoas a{ 
    color: rgb(0, 88, 204);
    font-size: 155%;
    
}
#eventos a{ 
    color: rgb(59, 59, 59);
    font-size: 155%;
   
}


 /* Links navbar*/
 

 /* Botão de login*/
.btn{
    background-color: #9CDDE1;               
    border-radius: 9px;
}



/*conteudo*/
.container{
    max-width: 100%;
    margin-left: auto; 
    margin-right: 450px;
 
}
/*conteudo*/

.imagem-container {
  position: relative;
  margin-bottom: 70px; /* Espaço vertical entre as imagens */
}

.texto-sobre-imagem {
  position: absolute;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 10px;
  top: 80%;
  left: 38%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px;
}
/*imagem da seção sobre*/

.pessoas{
  font-family: pattaya;
  font-size: 60px;
  margin-bottom: 0px; 
}

.imagem{
    background-color: antiquewhite;
    width: 290px;                     
}      
.imagem img{
    width: 100%;
    height: 500px;
     
      transform: scale(1.05);
    
}

 /*Rodapé*/
 footer{
    background-color: rgb(32, 32, 36); 
    font-size: 50px;
    color: #b6b6b6;
  }
  .textorodape{
    color: #ebebebb6;
  }
  .mb-3{
    color: white;
  }
  .mb-1{
    color: white;
  }
  
  #zap{
    margin: 10px;
  }
  
  #insta{
    margin: 10px;
  }
  
  #email{
    margin: 10px;
  }
/*Rodapé*/

 .row{
    margin-left: 70px!important;
    margin-right: 10x!important;
   }